<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
    <link rel="stylesheet" href="/css/weloveworksheets.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body class="bg-light" style="background-image: url(/img/blobs.svg);">
    <!-- nav bar -->
    <div class="jumbotron bg-white text-dark shadow-sm round">
        <div class="container-fluid">
            <div class="row justify-content-center">

                <div class="col-md-2 d-flex justify-content-center">
                    <!-- Hav to add logo and stuff -->
                    <img src="/img/logo.png" alt="" height="55px" width="55px" class="align-self-start mt-1 pl-5 ml-5">
                </div>
                <div class="col-md-7 d-flex justify-content-end">
                    <!-- navigation code from bootstrap lib -->
                    <nav class="navbar sticky-top navbar-expand-lg navbar-light">
                        <div class="container-fluid">

                            <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link " aria-current="page" href="/">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " aria-current="page" href="/dashboard">Dashboard</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Datatracking</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="/student">Student</a></li>
                                            <li><a class="dropdown-item" href="/worksheet">Worksheet</a></li>
                                            <li><a class="dropdown-item" href="/datatracking">Analytics</a></li>


                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/iep">IEP</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/files">Worksheets</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/about">About us</a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-2 d-flex justify-content-center mt-2">
                    <ul class="navbar-nav">
                        <li class="nav-item ml-5">
                            <a href="/logout">
                                <button type="submit" class="btn text-pastel-purple px-4 rounded rounded-pill" style=" background-color: #51548C; color:white;">
                                    Log Out
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- navbar ends here -->

    <section>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-8">
                    <div class="container bg-white rounded-5 py-5 shadow-lg mt-3">
                        <div class="row d-flex justify content-center">
                            <div class="col-12 ">
                                <h4 class="text-pastel-purple text-center">
                                    About Us
                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <!-- img goes here -->
                            <div class="col-12 d-flex justify-content-center">
                                <img src="/img/dizzy-education.png" alt="" height="auto" width="350 px">
                            </div>
                        </div>
                        <div class="row mt-3 d-flex justify-content-center">
                            <div class="col-10">
                                <p>
                                    Shaping the youth of tomorrow is an elaborate and laborious endeavour. Our resources are an amalgamation of worksheets based on well-established teaching practices and tools such as Data Tracking and IEPs (Individualised Educational Plan) to provide the
                                    support required by teachers, parents and students with various needs. The objective is to build an engaging community to further refine and streamline the teaching-learning experience, saving teachers and parents the
                                    time and effort; and cultivating the inherent talents of each individual student.
                                </p>
                                <p>
                                    <strong>OUR RESOURCES</strong>
                                </p>
                                <p>
                                    Recognising the need for a versatile education system that helps nurture students; acknowledging their respective needs while also harnessing their strengths, we provide free access to straightforward and standardised worksheets. These pre-compiled worksheets
                                    serve a two-fold purpose. Their effortlessly intelligible structure that focuses on learning by repetition makes studying more effective and efficient for students. Moreover, they make the teaching process more comfortable
                                    and economical.
                                </p>
                                <p>Additionally, our paid services include <strong>data tracking </strong> and
                                    <strong>IEPs (Individualised Educational Plan)</strong>. Data Tracking monitors each student’s progress which can be accessed via the teacher’s account. IEPs render customisations that encompass each individual student’s
                                    educational needs in the form of a personalised curriculum. Reports are made available to teachers and parents, based on which, students may be assigned worksheets to improve in areas where they lag or be upgraded to
                                    additional material on having mastered prior tasks. These tools assist teachers in discerning each student’s progress so they may be able to impart the necessary and pertinent individual attention. </p>
                                <p>
                                    <strong>A COMMUNITY PLATFORM</strong> We hope to create an atmosphere that encourages engagement. This website is pervasive of individuals showcasing their unique talents.
                                </p>
                                <p>
                                    <em>“With a flair for caricatures and with no training absolutely, I would draw a
                                        lion. All I would need is to see a blank paper, even if it was the back side of
                                        a used sheet, I would magnetically be attracted to it and with a pencil or pen
                                        in hand make different shapes and sizes of children, their elders or animals. I
                                        would convert my thoughts and moods on paper.

                                        Being the only child of my parents, I would often find company in small children
                                        drawn on paper, playing. Different sizes, different faces in different moods,
                                        hair styles and dresses is how I create my objects. One very important thing is
                                        that when I draw, I never use an eraser.”
                                    </em>
                                </p>
                                <p>
                                    - The world in the words of Eeshna Capoor who designed our logo. If you like her work and wish to get in touch with her, you can contact us.
                                </p>
                                <p>
                                    We aspire to serve as a platform for individuals who would like to display their talents. Furthermore, we wish to stimulate engagement so that fellow educators may make their material available in the interest of those using this website; and initiate
                                    a mutually beneficial exchange of resources.

                                </p>
                            </div>

                        </div>
                        <div class="row ">
                            <div class="col-12 d-flex justify-content-center">

                                <div class="buttons mt-0">
                                    <a href="/register">
                                        <button class="blob-btn">
                                            Subscribe
                                            <span class="blob-btn__inner">
                                                <span class="blob-btn__blobs">
                                                    <span class="blob-btn__blob"></span>
                                                    <span class="blob-btn__blob"></span>
                                                    <span class="blob-btn__blob"></span>
                                                    <span class="blob-btn__blob"></span>
                                                </span>
                                            </span>
                                        </button></a>
                                    <br />


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
            <filter id="goo">
                <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo">
                </feColorMatrix>
                <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
            </filter>
        </defs>
    </svg>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

</html>