
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Behaviour IEP-Perception</title>
    <link rel="stylesheet" href="/css/weloveworksheets.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
    <style>
        .PrintMessage {
            display: none;
        }
    </style>
</head>


<body class="'bg-light"
    style="background-image:url(/img/blobs.svg) ;background-repeat: no-repeat; background-size:cover;">
    <div class="PrintMessage">You are not authorized to print this document</div>
    <div id="Allcontent">
        <!-- nav bar -->
        <div class="jumbotron bg-white text-dark shadow-sm round">
            <div class="container-fluid">
                <div class="row justify-content-center">

                    <div class="col-md-2 d-flex justify-content-center">
                        <!-- Hav to add logo and stuff -->
                        <img src="/img/logo.png" alt="" height="55px" width="55px"
                            class="align-self-start mt-1 pl-5 ml-5">
                    </div>
                    <div class="col-md-7 d-flex justify-content-end">
                        <!-- navigation code from bootstrap lib -->
                        <nav class="navbar sticky-top navbar-expand-lg navbar-light">
                            <div class="container-fluid">

                                <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a class="nav-link " aria-current="page" href="/">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " aria-current="page" href="/dashboard">Dashboard</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                                                role="button" aria-expanded="false">Datatracking</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item " style="color:#51548C"
                                                        href="/datatrackingandanalytics">Datatracking</a></li>
                                                <hr>
                                                <li><a class="dropdown-item" href="/student">Student</a></li>
                                                <li><a class="dropdown-item" href="/worksheet">Worksheet</a></li>
                                                <li><a class="dropdown-item" href="/datatracking">Analytics</a></li>



                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/iep">IEP</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="/files">Worksheets</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="/about">About us</a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="col-2 d-flex justify-content-center mt-2">
                        <ul class="navbar-nav">
                            <li class="nav-item ml-5">
                                <a href="/login">
                                    <button type="submit" class="btn text-pastel-purple px-4 rounded rounded-pill"
                                        style=" background-color: #51548C; color:white;">
                                        Log In
                                    </button>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- navbar ends here -->
        <div class="container bg-white rounded shadow-sm mt-3 py-5">
            <section id="element-to-print">
                <div class="container"
                    style="background-image: url('/img/watermark.png'); background-repeat: repeat-y; background-size:99% ;">
                    <!-- the big title -->
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <h4 class="text-pastel-purple mt-2">Behavioural IEP (Perception</h4>
                        </div>
                    </div>
                    <!-- the big title ends here -->
                    <hr class="text-pastel-purple my-2" width="auto" style="height:3px;border:none;">
                    
                    <!-- Student details here -->
                    <div class="row">
                        <div class="col-12">
                            <div class="container">
                                <!-- Coversheet starts here  -->
                                <div class="row mt-3 d-flex align-items-center">
                                    <div class="col-2">
                                        <label for="Stdname">Name of the student:</label>
                                    </div>
                                    <div class="col-4">
                                        <input type="text" name="Stdname" placeholder="Full name here"
                                            class=" form-control">
                                    </div>

                                </div>
                                <div class="row d-flex align-items-center">
                                    <div class="col-2">
                                        <label for="concerns">Presenting Concerns</label>
                                    </div>
                                    <div class="col-2">
                                        <input class="form-check-input" type="checkbox" name="academic">
                                        <label for="academic">Academic</label>
                                    </div>
                                    <div class="col-2">
                                        <input class="form-check-input" type="checkbox" name="behaviour">
                                        <label for="behaviour">Behaviour</label>
                                    </div>
                                    <div class="col-2">
                                        <input class="form-check-input" type="checkbox" name="social">
                                        <label for="social">Social/ Emotional</label>
                                    </div>
                                    <div class="col-2">
                                        <input class="form-check-input" type="checkbox" name="other">
                                        <label for="other">Other</label>
                                    </div>

                                </div>
                                <div class="row d-flex align-items-center">
                                    <div class="col-2">
                                        <label for="DOB">Date of birth</label>
                                    </div>
                                    <div class="col-2">
                                        <input type="datetime-local" name="DOB" class="form-control p-2">
                                    </div>
                                </div>
                                <div class="row d-flex align-items-center my-1">
                                    <div class="col-2">
                                        <label for="StdID">Student ID Number</label>
                                    </div>
                                    <div class="col-2">
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-2">
                                        <label for="Grade">Grade: </label>
                                    </div>
                                    <div class="col-2">
                                        <input type="text" class="form-control">
                                    </div>
                                </div> <br>
                                <div class="row d-flex align-self-center mt-2">
                                    <div class="col-3">
                                        Name of Support Teacher:
                                    </div>
                                    <div class="col-3">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row d-flex align-self-center">
                                    <div class="col-3">
                                        Name of class teacher
                                    </div>
                                    <div class="col-3">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row d-flex align-self-center mt-3">
                                    <div class="col-3">
                                        Accommodations
                                    </div>
                                    <div class="col-3">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row d-flex align-self-center mt-3">
                                    <div class="col-3">
                                        External testing reports if any
                                    </div>
                                    <div class="col-3">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <hr class="text-pastel-purple my-3" width="auto"
                                    style="height:3px;border:none; page-break-after: always;">
                                <!-- cover sheet Ends here -->
                            </div>
                        </div>
                    </div>
                    <!-- end of student here   -->
                    <!-- the Perception title-->
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <h4 class="text-pastel-purple my-2">Perception</h4>
                        </div>
                    </div>
                    <!-- the Perception titleends here -->
                    <!-- perception starts here -->
                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="container">
                                <!-- title of perception table starts here -->
                                <div class="row">
                                    <div class="col-4 border border-secondary d-flex align-items-center">
                                        <strong> Current Level </strong>
                                    </div>
                                    <div class="col-4 border border-secondary d-flex align-items-center">
                                        <strong> Goals for the week </strong>
                                    </div>
                                    <div class="col-1 border border-secondary d-flex align-items-center">
                                        <strong> Begining </strong>
                                    </div>
                                    <div class="col-1 border border-secondary d-flex align-items-center">
                                        <strong> Achieving </strong>
                                    </div>
                                    <div class="col-1 border border-secondary d-flex align-items-center">
                                        <strong> Excelling </strong>
                                    </div>
                                    <div class="col-1 border border-secondary d-flex align-items-center">
                                        <strong> Mastered </strong>
                                    </div>
                                </div>
                                <!-- title of perception table ends here -->
                                
                                
                                
                                <!-- row of perception table starts here -->
                                <div class="row">
                                    <div class="col-4 border border-secondary align-items-center">
                                        <div>
                                            <div class="row my-1 d-flex align-items-center">
                                                <div class="col-3 ">
                                                    <!-- name value should be unique -->
                                                    <input type="radio" class="form-check-input " name="1">
                                                    
                                                </div>
                                                <div class="col-9">
                                                    <p>
                                                        Visual perception activities in 3 out 5 situations for the following;
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-4 border border-secondary d-flex align-items-center justify-content-center">
                                        Visual perception activities in 3 out 5 situations for the following;
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="1">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="1">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="1">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="1">
                                    </div>
                                </div>
                                <!-- row of perception table ends here -->
                                
                            
                                
                                <!-- row of perception table starts here -->
                                <div class="row">
                                    <div class="col-4 border border-secondary align-items-center">
                                        <div>
                                            <div class="row my-1 d-flex align-items-center">
                                                <div class="col-3 ">
                                                    <!-- name value should be unique -->
                                                    <input type="radio" class="form-check-input " name="2">
                                                    
                                                </div>
                                                <div class="col-9">
                                                    <p>
                                                        Visual awareness – focusing attention on a specific visual stimuli
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-4 border border-secondary d-flex align-items-center justify-content-center">
                                        Visual awareness – focusing attention on a specific visual stimuli
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="2">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="2">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="2">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="2">
                                    </div>
                                </div>
                                <!-- row of perception table ends here -->
                                
                            
                                
                                <!-- row of perception table starts here -->
                                <div class="row">
                                    <div class="col-4 border border-secondary align-items-center">
                                        <div>
                                            <div class="row my-1 d-flex align-items-center">
                                                <div class="col-3 ">
                                                    <!-- name value should be unique -->
                                                    <input type="radio" class="form-check-input " name="3">
                                                    
                                                </div>
                                                <div class="col-9">
                                                    <p>
                                                        Focus and figure ground – focusing attention on a specific visual stimuli when background stimuli is present
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-4 border border-secondary d-flex align-items-center justify-content-center">
                                        Focus and figure ground – focusing attention on a specific visual stimuli when background stimuli is present
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="3">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="3">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="3">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="3">
                                    </div>
                                </div>
                                <!-- row of perception table ends here -->
                                
                            
                                
                                <!-- row of perception table starts here -->
                                <div class="row">
                                    <div class="col-4 border border-secondary align-items-center">
                                        <div>
                                            <div class="row my-1 d-flex align-items-center">
                                                <div class="col-3 ">
                                                    <!-- name value should be unique -->
                                                    <input type="radio" class="form-check-input " name="4">
                                                    
                                                </div>
                                                <div class="col-9">
                                                    <p>
                                                        Visual tracking – following moving object with the eyes (essential pre-reading skill) .
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-4 border border-secondary d-flex align-items-center justify-content-center">
                                        Visual tracking – following moving object with the eyes (essential pre-reading skill) .
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="4">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="4">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="4">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="4">
                                    </div>
                                </div>
                                <!-- row of perception table ends here -->
                                
                            
                                
                                <!-- row of perception table starts here -->
                                <div class="row">
                                    <div class="col-4 border border-secondary align-items-center">
                                        <div>
                                            <div class="row my-1 d-flex align-items-center">
                                                <div class="col-3 ">
                                                    <!-- name value should be unique -->
                                                    <input type="radio" class="form-check-input " name="5">
                                                    
                                                </div>
                                                <div class="col-9">
                                                    <p>
                                                        Visual discrimination of quantity – recognizing/demonstrating how much or how many.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-4 border border-secondary d-flex align-items-center justify-content-center">
                                        Visual discrimination of quantity – recognizing/demonstrating how much or how many.
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="5">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="5">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="5">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="5">
                                    </div>
                                </div>
                                <!-- row of perception table ends here -->
                                
                            
                                
                                <!-- row of perception table starts here -->
                                <div class="row">
                                    <div class="col-4 border border-secondary align-items-center">
                                        <div>
                                            <div class="row my-1 d-flex align-items-center">
                                                <div class="col-3 ">
                                                    <!-- name value should be unique -->
                                                    <input type="radio" class="form-check-input " name="6">
                                                    
                                                </div>
                                                <div class="col-9">
                                                    <p>
                                                        Visual discrimination of direction – recognizing/demonstrating up/down, right/left, etc.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-4 border border-secondary d-flex align-items-center justify-content-center">
                                        Visual discrimination of direction – recognizing/demonstrating up/down, right/left, etc.
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="6">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="6">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="6">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="6">
                                    </div>
                                </div>
                                <!-- row of perception table ends here -->
                                
                            
                                
                                <!-- row of perception table starts here -->
                                <div class="row">
                                    <div class="col-4 border border-secondary align-items-center">
                                        <div>
                                            <div class="row my-1 d-flex align-items-center">
                                                <div class="col-3 ">
                                                    <!-- name value should be unique -->
                                                    <input type="radio" class="form-check-input " name="7">
                                                    
                                                </div>
                                                <div class="col-9">
                                                    <p>
                                                        Visual discrimination of distance.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-4 border border-secondary d-flex align-items-center justify-content-center">
                                        Visual discrimination of distance.
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="7">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="7">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="7">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="7">
                                    </div>
                                </div>
                                <!-- row of perception table ends here -->
                                
                            
                                
                                <!-- row of perception table starts here -->
                                <div class="row">
                                    <div class="col-4 border border-secondary align-items-center">
                                        <div>
                                            <div class="row my-1 d-flex align-items-center">
                                                <div class="col-3 ">
                                                    <!-- name value should be unique -->
                                                    <input type="radio" class="form-check-input " name="8">
                                                    
                                                </div>
                                                <div class="col-9">
                                                    <p>
                                                        Visual memory – recalling something that was seen.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-4 border border-secondary d-flex align-items-center justify-content-center">
                                        Visual memory – recalling something that was seen.
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="8">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="8">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="8">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="8">
                                    </div>
                                </div>
                                <!-- row of perception table ends here -->
                                
                            
                                
                                <!-- row of perception table starts here -->
                                <div class="row">
                                    <div class="col-4 border border-secondary align-items-center">
                                        <div>
                                            <div class="row my-1 d-flex align-items-center">
                                                <div class="col-3 ">
                                                    <!-- name value should be unique -->
                                                    <input type="radio" class="form-check-input " name="9">
                                                    
                                                </div>
                                                <div class="col-9">
                                                    <p>
                                                        Visual sequencing – recalling something that was seen in order 
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-4 border border-secondary d-flex align-items-center justify-content-center">
                                        Visual sequencing – recalling something that was seen in order 
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="9">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="9">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="9">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="9">
                                    </div>
                                </div>
                                <!-- row of perception table ends here -->
                                
                            
                                
                                <!-- row of perception table starts here -->
                                <div class="row">
                                    <div class="col-4 border border-secondary align-items-center">
                                        <div>
                                            <div class="row my-1 d-flex align-items-center">
                                                <div class="col-3 ">
                                                    <!-- name value should be unique -->
                                                    <input type="radio" class="form-check-input " name="10">
                                                    
                                                </div>
                                                <div class="col-9">
                                                    <p>
                                                        Auditory Perception activities in 3 out of 5 situations for the following;
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-4 border border-secondary d-flex align-items-center justify-content-center">
                                        Auditory Perception activities in 3 out of 5 situations for the following;
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="10">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="10">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="10">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="10">
                                    </div>
                                </div>
                                <!-- row of perception table ends here -->
                                
                            
                                
                                <!-- row of perception table starts here -->
                                <div class="row">
                                    <div class="col-4 border border-secondary align-items-center">
                                        <div>
                                            <div class="row my-1 d-flex align-items-center">
                                                <div class="col-3 ">
                                                    <!-- name value should be unique -->
                                                    <input type="radio" class="form-check-input " name="11">
                                                    
                                                </div>
                                                <div class="col-9">
                                                    <p>
                                                        Sound Awareness – discriminating between sounds.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-4 border border-secondary d-flex align-items-center justify-content-center">
                                        Sound Awareness – discriminating between sounds.
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="11">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="11">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="11">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="11">
                                    </div>
                                </div>
                                <!-- row of perception table ends here -->
                                
                            
                                
                                <!-- row of perception table starts here -->
                                <div class="row">
                                    <div class="col-4 border border-secondary align-items-center">
                                        <div>
                                            <div class="row my-1 d-flex align-items-center">
                                                <div class="col-3 ">
                                                    <!-- name value should be unique -->
                                                    <input type="radio" class="form-check-input " name="12">
                                                    
                                                </div>
                                                <div class="col-9">
                                                    <p>
                                                        Sound Localization – discriminating where sound is coming from
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-4 border border-secondary d-flex align-items-center justify-content-center">
                                        Sound Localization – discriminating where sound is coming from
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="12">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="12">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="12">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="12">
                                    </div>
                                </div>
                                <!-- row of perception table ends here -->
                                
                            
                                
                                <!-- row of perception table starts here -->
                                <div class="row">
                                    <div class="col-4 border border-secondary align-items-center">
                                        <div>
                                            <div class="row my-1 d-flex align-items-center">
                                                <div class="col-3 ">
                                                    <!-- name value should be unique -->
                                                    <input type="radio" class="form-check-input " name="13">
                                                    
                                                </div>
                                                <div class="col-9">
                                                    <p>
                                                        Sound discrimination of intensity – loud vs. soft.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-4 border border-secondary d-flex align-items-center justify-content-center">
                                        Sound discrimination of intensity – loud vs. soft.
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="13">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="13">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="13">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="13">
                                    </div>
                                </div>
                                <!-- row of perception table ends here -->
                                
                            
                                
                                <!-- row of perception table starts here -->
                                <div class="row">
                                    <div class="col-4 border border-secondary align-items-center">
                                        <div>
                                            <div class="row my-1 d-flex align-items-center">
                                                <div class="col-3 ">
                                                    <!-- name value should be unique -->
                                                    <input type="radio" class="form-check-input " name="14">
                                                    
                                                </div>
                                                <div class="col-9">
                                                    <p>
                                                        Sound discrimination of duration – difference between different tempos, rhythms, meters
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-4 border border-secondary d-flex align-items-center justify-content-center">
                                        Sound discrimination of duration – difference between different tempos, rhythms, meters
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="14">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="14">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="14">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="14">
                                    </div>
                                </div>
                                <!-- row of perception table ends here -->
                                
                            
                                
                                <!-- row of perception table starts here -->
                                <div class="row">
                                    <div class="col-4 border border-secondary align-items-center">
                                        <div>
                                            <div class="row my-1 d-flex align-items-center">
                                                <div class="col-3 ">
                                                    <!-- name value should be unique -->
                                                    <input type="radio" class="form-check-input " name="15">
                                                    
                                                </div>
                                                <div class="col-9">
                                                    <p>
                                                        Sound discrimination of pitch – recognizing same and different, high and low, up and down as they relate to a melody
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-4 border border-secondary d-flex align-items-center justify-content-center">
                                        Sound discrimination of pitch – recognizing same and different, high and low, up and down as they relate to a melody
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="15">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="15">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="15">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="15">
                                    </div>
                                </div>
                                <!-- row of perception table ends here -->
                                
                            
                                
                                <!-- row of perception table starts here -->
                                <div class="row">
                                    <div class="col-4 border border-secondary align-items-center">
                                        <div>
                                            <div class="row my-1 d-flex align-items-center">
                                                <div class="col-3 ">
                                                    <!-- name value should be unique -->
                                                    <input type="radio" class="form-check-input " name="16">
                                                    
                                                </div>
                                                <div class="col-9">
                                                    <p>
                                                        Sound discrimination of timbre – recognizing sound quality or identifying characteristics of a sound
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-4 border border-secondary d-flex align-items-center justify-content-center">
                                        Sound discrimination of timbre – recognizing sound quality or identifying characteristics of a sound
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="16">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="16">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="16">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="16">
                                    </div>
                                </div>
                                <!-- row of perception table ends here -->
                                
                            
                                
                                <!-- row of perception table starts here -->
                                <div class="row">
                                    <div class="col-4 border border-secondary align-items-center">
                                        <div>
                                            <div class="row my-1 d-flex align-items-center">
                                                <div class="col-3 ">
                                                    <!-- name value should be unique -->
                                                    <input type="radio" class="form-check-input " name="17">
                                                    
                                                </div>
                                                <div class="col-9">
                                                    <p>
                                                        Visual discrimination of color – recognizing/identifying different hues
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-4 border border-secondary d-flex align-items-center justify-content-center">
                                        Visual discrimination of color – recognizing/identifying different hues
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="17">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="17">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="17">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="17">
                                    </div>
                                </div>
                                <!-- row of perception table ends here -->
                                
                            
                                
                                <!-- row of perception table starts here -->
                                <div class="row">
                                    <div class="col-4 border border-secondary align-items-center">
                                        <div>
                                            <div class="row my-1 d-flex align-items-center">
                                                <div class="col-3 ">
                                                    <!-- name value should be unique -->
                                                    <input type="radio" class="form-check-input " name="18">
                                                    
                                                </div>
                                                <div class="col-9">
                                                    <p>
                                                        Visual discrimination of shape – recognizing objects by their distinctive form
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-4 border border-secondary d-flex align-items-center justify-content-center">
                                        Visual discrimination of shape – recognizing objects by their distinctive form
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="18">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="18">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="18">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="18">
                                    </div>
                                </div>
                                <!-- row of perception table ends here -->
                                
                            
                                
                                <!-- row of perception table starts here -->
                                <div class="row">
                                    <div class="col-4 border border-secondary align-items-center">
                                        <div>
                                            <div class="row my-1 d-flex align-items-center">
                                                <div class="col-3 ">
                                                    <!-- name value should be unique -->
                                                    <input type="radio" class="form-check-input " name="19">
                                                    
                                                </div>
                                                <div class="col-9">
                                                    <p>
                                                        Visual discrimination of size – recognizing how large and small things are
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-4 border border-secondary d-flex align-items-center justify-content-center">
                                        Visual discrimination of size – recognizing how large and small things are
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="19">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="19">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="19">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="19">
                                    </div>
                                </div>
                                <!-- row of perception table ends here -->
                                
                            
                                
                                <!-- row of perception table starts here -->
                                <div class="row">
                                    <div class="col-4 border border-secondary align-items-center">
                                        <div>
                                            <div class="row my-1 d-flex align-items-center">
                                                <div class="col-3 ">
                                                    <!-- name value should be unique -->
                                                    <input type="radio" class="form-check-input " name="20">
                                                    
                                                </div>
                                                <div class="col-9">
                                                    <p>
                                                        Visual discrimination of quantity – recognizing/demonstrating how much or how many
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-4 border border-secondary d-flex align-items-center justify-content-center">
                                        Visual discrimination of quantity – recognizing/demonstrating how much or how many
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="20">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="20">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="20">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="20">
                                    </div>
                                </div>
                                <!-- row of perception table ends here -->
                                
                            
                                
                                <!-- row of perception table starts here -->
                                <div class="row">
                                    <div class="col-4 border border-secondary align-items-center">
                                        <div>
                                            <div class="row my-1 d-flex align-items-center">
                                                <div class="col-3 ">
                                                    <!-- name value should be unique -->
                                                    <input type="radio" class="form-check-input " name="21">
                                                    
                                                </div>
                                                <div class="col-9">
                                                    <p>
                                                        Visual discrimination of direction – recognizing/demonstrating up/down, right/left, etc.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-4 border border-secondary d-flex align-items-center justify-content-center">
                                        Visual discrimination of direction – recognizing/demonstrating up/down, right/left, etc.
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="21">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="21">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="21">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="21">
                                    </div>
                                </div>
                                <!-- row of perception table ends here -->
                                
                            
                                
                                <!-- row of perception table starts here -->
                                <div class="row">
                                    <div class="col-4 border border-secondary align-items-center">
                                        <div>
                                            <div class="row my-1 d-flex align-items-center">
                                                <div class="col-3 ">
                                                    <!-- name value should be unique -->
                                                    <input type="radio" class="form-check-input " name="22">
                                                    
                                                </div>
                                                <div class="col-9">
                                                    <p>
                                                        Auditory Figure Ground – Identifying a specific sound when lots of sounds are present in the environment.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-4 border border-secondary d-flex align-items-center justify-content-center">
                                        Auditory Figure Ground – Identifying a specific sound when lots of sounds are present in the environment.
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="22">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="22">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="22">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="22">
                                    </div>
                                </div>
                                <!-- row of perception table ends here -->
                                
                            
                                
                                <!-- row of perception table starts here -->
                                <div class="row">
                                    <div class="col-4 border border-secondary align-items-center">
                                        <div>
                                            <div class="row my-1 d-flex align-items-center">
                                                <div class="col-3 ">
                                                    <!-- name value should be unique -->
                                                    <input type="radio" class="form-check-input " name="23">
                                                    
                                                </div>
                                                <div class="col-9">
                                                    <p>
                                                        Auditory memory and sequencing – recalling things you learned by rote or by listening.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-4 border border-secondary d-flex align-items-center justify-content-center">
                                        Auditory memory and sequencing – recalling things you learned by rote or by listening.
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="23">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="23">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="23">
                                    </div>
                                    <div
                                        class="col-1 border border-secondary d-flex justify-content-center align-items-center">
                                        <input type="radio" class="form-check-input" name="23">
                                    </div>
                                </div>
                                <!-- row of perception table ends here -->
                                
                            

                            </div>
                        </div>
                    </div>
                    <!-- perception ends here -->
               

                </div>
            </section>
        </div>

        <div class="container bg-white shadow rounded rounded-5x">
            <div class="row d-flex justify-content-center">
                <div class="col-12">
                    <!-- link to review starts here -->
                    <div class="container d-flex justify-content-center align-items-center">
                        <a href="#element-to-print">
                            <h3 class="text-center text-dark btn btn-lg ">
                                <u>
                                    Click here to review your inputs
                                </u>
                            </h3>
                        </a>
                    </div>
                    <!-- link to review ends here -->
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-11">
                    <div class="container-fluid   mx-2  pt-4 px-5 pb-3 d-flex justify-content-center">
                        <button id="generate-pdf" class="btn text-white rounded rounded-pill  mx-2 px-5" onclick="pdf()"
                            style="  background-color: #51548C;">
                            <h4>Generate Pdf</h4>
                        </button>
                        <button onclick="dashboard()" class="btn text-white rounded rounded-pill  mx-2 px-5"
                            style="  background-color: #51548C;">
                            <h4>Back to Dashboard</h4>
                        </button>
                        <a href="/iep/academiciep/readingcomprehension">
                            <button class="btn text-white rounded rounded-pill  mx-2 px-5"
                                style="  background-color: #51548C;">
                                <h4>Next Page</h4>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>



        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <!-- <img src="..." class="rounded me-2" alt="..."> -->
                    <strong class="me-auto">PDF Generation Started</strong>
                    <small>1min ago</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    The PDF generation has started. Make sure to save it when available!
                </div>
            </div>
        </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
        <script src="/js/html2pdf.bundle.min.js"></script>
        <script>
            var element = document.getElementById('element-to-print');
            let behaviour1 = localStorage.getItem("behaviour_iep1");
            let paymentid = localStorage.getItem("behaviouralpayment_id");
        
            function dashboard() {
                location.href = '/iep/behavioural-dashboard?payment_id=' + paymentid;
            }
        
        
            if (behaviour1 === "false") {
                location.href = '/iep/behavioural-dashboard?payment_id=' + paymentid;
            }
        
            var opt = {
                margin: 1,
                pagebreak: {
                    mode: 'css',
                    avoid: ['.row']
                },
                filename: 'Behavioural IEP(Perception).pdf',
                image: {
                    type: 'jpeg',
                    quality: 1
                },
                html2canvas: {
                    scale: 1
                },
                jsPDF: {
                    unit: 'in',
                    format: 'tabloid',
                    orientation: 'landscape'
                }
        
            };
        
            //uncheck radio on second click
            $("input:radio").on("click", function (e) {
                var inp = $(this);
                if (inp.is(".theone")) {
                    inp.prop("checked", false).removeClass("theone");
                } else {
                    $("input:radio[name='" + inp.prop("name") + "'].theone").removeClass("theone");
                    inp.addClass("theone");
                }
        
            });
        
            async function pdf() {
                if (behaviour1 === "false") {
                    alert("You have already generated a PDF!");
                    return
                }
        
                var res = confirm("By clicking ok you are using your one-time pdf generation. Once you click ok this cannot be reverted. Do you want to continue?");
                if (res == true) {
                    if (behaviour1 === "true") {
                        localStorage.setItem("behaviour_iep1", "false");
                        academic1 = "false";
                        var toastTrigger = document.getElementById('generate-pdf')
                        var toastLiveExample = document.getElementById('liveToast')
                        var toast = new bootstrap.Toast(toastLiveExample);
                        toast.show()
                        await html2pdf().set(opt).from(element).save();
                        
        
                    }
                }
                else {
                    return
                }
            }
        
        
        
            if ('matchMedia' in window) {
                // Chrome, Firefox, and IE 10 support mediaMatch listeners
                window.matchMedia('print').addListener(function (media) {
                    if (media.matches) {
                        beforePrint();
                    } else {
                        // Fires immediately, so wait for the first mouse movement
                        $(document).one('mouseover', afterPrint);
                    }
                });
            } else {
                // IE and Firefox fire before/after events
                $(window).on('beforeprint', beforePrint);
                $(window).on('afterprint', afterPrint);
            }
        
            function beforePrint() {
                $("#AllContent").hide();
                $(".PrintMessage").show();
            }
        
            function afterPrint() {
                $(".PrintMessage").hide();
                $("#AllContent").show();
            }
        </script>
        
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
        
</body>

</html>