<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Downloadable worksheets</title>
    <link rel="stylesheet" href="/css/weloveworksheets.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


</head>

<body class="bg-light m-0" style="background-image: url(/img/blobsBg.png); background-size:cover; background-position:center; background-repeat: no-repeat;">
    <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-buddha" title="Pixel Buddha">Pixel Buddha</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->

    <!-- <a href="https://drive.google.com/file/d/1dcuGZP_y8XB8-3eNjf7OJKpUqkMzGQNg/view?usp=sharing">
        <img src="pdf.png" alt="" height="100px" width="100px"><br>
         <h4>Pdf</h4> 
    </a> -->

    <!-- nav bar -->
    <div class="jumbotron bg-white text-dark shadow-sm round">
        <div class="container-fluid">
            <div class="row justify-content-center">

                <div class="col-md-2 d-flex justify-content-center">
                    <!-- Hav to add logo and stuff -->
                    <img src="/img/logo.png" alt="" height="55px" width="55px" class="align-self-start mt-1 pl-5 ml-5">
                </div>
                <div class="col-md-7 d-flex justify-content-end">
                    <!-- navigation code from bootstrap lib -->
                    <nav class="navbar sticky-top navbar-expand-lg navbar-light">
                        <div class="container-fluid">

                            <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link " aria-current="page" href="/">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " aria-current="page" href="/dashboard">Dashboard</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Datatracking</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="/student">Student</a></li>
                                            <li><a class="dropdown-item" href="/worksheet">Worksheet</a></li>
                                            <li><a class="dropdown-item" href="/datatracking">Analytics</a></li>


                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/iep">IEP</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/files">Worksheets</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/about">About us</a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-2 d-flex justify-content-center mt-2">
                    <ul class="navbar-nav">
                        <li class="nav-item ml-5">
                            <a href="/logout">
                                <button type="submit" class="btn text-pastel-purple px-4 rounded rounded-pill" style=" background-color: #51548C; color:white;">
                                    Log Out
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- navbar ends here -->


    <div class="container mt-3">
        <div class="row d-flex justify-content-center mx-1">

            <div class="col-4 scroll">

                <div class="container bg-white shadow-sm rounded mx-1">
                    <div class=" text-center pt-5">
                        <h4 class="text- center text-dark">Test Worksheets</h4>
                    </div>

                    <iframe class="scroll" src="https://drive.google.com/embeddedfolderview?id=1f4T-fKfZjSq2nJsLlE5nYGHSzFY9-cvH" style="width:100%; height:60vh; border:0;" class="my-2">
         
                    </iframe>
                    <div class="col-12 d-flex justify-content-center">
                        <a href="https://drive.google.com/drive/folders/1f4T-fKfZjSq2nJsLlE5nYGHSzFY9-cvH?usp=sharing" target="_blank" rel="noopener noreferrer" class="text-white">
                            <div class="btn text-center text-white mt-2 mb-3 " style="background-color: #51548C;">
                                <h5 class="mt-2">View All</h5>
                            </div>
                        </a>
                    </div>


                </div>
            </div>

            <div class="col-4 ">

                <div class="container bg-white shadow-sm rounded mx-1">
                    <div class=" text-center pt-5">
                        <h4 class="text- center text-dark">Worksheet's Sight Words</h4>
                    </div>

                    <iframe src="https://drive.google.com/embeddedfolderview?id=1Sk7gU1YqNdhJ9bsa3a2Ty6ECXHQDPBAX" style="width:100%; height:60vh; border:0;" class="mt-3">
        
                </iframe>

                    <div class="col-12 d-flex justify-content-center">
                        <a href="https://drive.google.com/drive/folders/1Sk7gU1YqNdhJ9bsa3a2Ty6ECXHQDPBAX?usp=sharing" target="_blank" rel="noopener noreferrer" class="text-white">
                            <div class="btn text-center text-white mt-2 mb-3 " style="background-color: #51548C;">
                                <h5 class="mt-2">View All</h5>
                            </div>
                        </a>
                    </div>

                </div>
            </div>

            <div class="col-4 ">

                <div class="container bg-white shadow-sm rounded mx-2">
                    <div class=" text-center pt-5">
                        <h4 class="text- center text-dark">Dolche Words list</h4>
                    </div>

                    <iframe src="https://drive.google.com/embeddedfolderview?id=1J0w-hlFJQLbU3QL20NFALUzrdRm8H26T" style="width:100%; height:60vh; border:0;" class="mt-3">
        
                </iframe>
                    <div class="col-12 d-flex justify-content-center">
                        <a href="https://drive.google.com/drive/folders/1J0w-hlFJQLbU3QL20NFALUzrdRm8H26T?usp=sharing" target="_blank" rel="noopener noreferrer" class="text-white">
                            <div class="btn text-center text-white mt-2 mb-3 " style="background-color: #51548C;">
                                <h5 class="mt-2">View All</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer class="pastel-purple">
        <div>
            <div class="container mt-5"> <br>
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-6 text-white d-flex py-5" style="justify-content: space-between;">
                        <a href="/Terms and Conditions.pdf" class="text-white" style="text-decoration: none;" target="_blank">Terms and conditions</a>
                        <a href="/returnspolicy.pdf" class="text-white" style="text-decoration: none;" target="_blank">Returns Policy</a>
                        <a href="/Privacy Policy.pdf" class="text-white" style="text-decoration: none;" target="_blank">Privacy Policy</a>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- <iframe src="https://drive.google.com/embeddedfolderview?id=1414liUfnUL0oorrWi07IdX1Tas4Uq_qH#grid" style="width:100%; height:90vh; border:0;">
         
    </iframe> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>

</html>