<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly Payment</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <button id="rzp-button1">Pay</button>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        var options = {
            "key": "rzp_test_E1O0oftFBF0DQA", // Enter the Key ID generated from the Dashboard
            "subscription_id": "<%=sub_id%>",
            "amount": "60000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "description": "Test Transaction",
            "handler": function (response) {
                // alert(response.razorpay_payment_id);
                // alert(response.razorpay_signature);
                console.log(response);
                axios({
                    method: 'post',
                    url: '/pricing/verification',
                    params: {
                        payment_id: response.razorpay_payment_id,
                        signature: response.razorpay_signature
                    }
                })
                    .then(function (response) {
                        alert('verification success');
                        window.location = "/dashboard";
                    })
                    .catch(function (error) {
                        alert(error);
                    });
            },
            "prefill": {
                "name": "<%=name%>",
                "email": "<%=email%>"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#51548C"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.on('payment.failed', function (response) {
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);
        });
        document.getElementById('rzp-button1').onclick = function (e) {
            rzp1.open();
            e.preventDefault();
        }
    </script>
</body>

</html>