<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data tracking</title>

    <link rel="stylesheet" href="css/weloveworksheets.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body class="bg-light">
    <!-- progress bar codes -->
    <div class="container ml-4 mb-1">
        <div class="row border border-light bg-white shadow-sm rounded m-1 mx-3 p-3 d-flex align-items-center">
            <div class="col-5 ml-2">
                Charles boyles
            </div>
            <div class="class col-5">
                <div class="progress">
                    <div class="progress-bar w-75 bg-warning" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
            </div>

        </div>
    </div>
    <!-- progress bar ends here -->
    <!-- progress bar codes -->

    <div class="container ml-4 mb-1">
        <div class="row border border-light bg-white shadow-sm rounded m-1 mx-3 p-3 d-flex align-items-center">
            <div class="col-5 ml-2">
                Ross Gellar
            </div>
            <div class="class col-5">
                <div class="progress">
                    <div style="width: 2%" class="progress-bar  bg-warning" role="progressbar" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

        </div>
    </div>
    <!-- progress bar ends here -->
    

    </div>
    <!-- end of the big row    -->
    </div>
    </div>



    <script src="https://kit.fontawesome.com/ffcb45aa63.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>

</html>