<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word analytics</title>

    <link rel="stylesheet" href="/css/weloveworksheets.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <style>
        /* colors */
        
        .pastel-purple {
            background-color: #51548C;
        }
        
        .pastel-red {
            background-color: #F25270;
        }
        
        .pastel-green {
            background-color: #49A68B;
        }
        
        .text-pastel-purple {
            color: #51548C;
        }
        
        .text-pastel-red {
            color: #F25270;
        }
        
        .text-pastel-green {
            color: #49A68B;
        }
        /* end of colors */
        
        .overflowTxtGen {
            height: 450px;
            width: auto;
            overflow-y: scroll;
        }
        
        .chartHolderHeight {
            height: 300px;
        }
    </style>
</head>


<body class="bg-light">
    <!-- nav bar -->
    <div class="jumbotron bg-white text-dark shadow-sm round">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-2 d-flex justify-content-center">
                    <!-- Hav to add logo and stuff -->
                    <img src="/img/logo.png" alt="" height="55px" width="55px" class="align-self-start mt-1 pl-5 ml-5">
                </div>
                <div class="col-md-7 d-flex justify-content-end">
                    <!-- navigation code from bootstrap lib -->
                    <nav class="navbar sticky-top navbar-expand-lg navbar-light">
                        <div class="container-fluid">

                            <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link " aria-current="page" href="/dashboard">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/about">About us</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/files">Downloadables</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/iep">IEP Info</a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-2 d-flex justify-content-center mt-2">
                    <ul class="navbar-nav">
                        <li class="nav-item ml-5">
                            <a href="/logout">
                                <button type="submit" class="btn text-pastel-purple px-4 rounded rounded-pill" style=" background-color: #51548C; color:white;">
                                    Log Out
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- navbar ends here -->




    <div class="bigWrapper container-fluid">
        <div class="row">

            <!-- side nav bar starts here -->
            <div class="col-2 align-self-left bg-white shadow-sm mt-0 fullHeight py-3">
                <!-- <div class="d-flex justify-content-center"> <img src="/img/logo.png" alt="" height="75px" width="75px" class="align-self-center"></div> -->

                <h5 class=" text-pastel-purple pt-2 px-3">Data Tracking</h5>
                <ul class="nav flex-column pt-1 px-1">

                    <hr>
                    <li class="nav-item">
                        <a class="nav-link active text-dark" href="/student"><i class="bi bi-person-fill  text-secondary"></i>
                    Students</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-dark" href="/worksheet"><i
                        class="bi bi-file-earmark-word-fill text-secondary"></i> Worksheets</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-dark" href="/datatracking"><i class="bi bi-graph-up text-secondary"></i>
                    Analytics</a>
                    </li>

                </ul>
                <h5 class=" text-pastel-purple pt-4 px-3">Account</h5>
                <ul class="nav flex-column pt-1 px-1">
                    <hr>
                    <li class="nav-item">
                        <a class="nav-link active text-dark" href="/profile"><i class="bi bi-person-circle text-secondary"></i>
                    Profile</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-dark" href="/logout"><i class="bi bi-box-arrow-in-left text-secondary"></i>
                    Sign out</a>
                    </li>
                </ul>
            </div>
            <!-- side bar ends here -->

            <div class="col-10 mt-2">
                <div class="container">
                    <div class="row">
                        <!-- the purple filter tab starts here -->
                        <div class="col-12 pastel-purple text-shadow-sm text-center text-white p-1 mx-0 rounded">
                            <!-- Filter tab starts here -->
                            <div class="container-fluid py-2">
                                <div class="row d-flex align-items-center">
                                    <form action="/datatracking" method="post">
                                        <div class="container">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-5">
                                                    <div class="container m-0">
                                                        <div class="row d-flex align-items-center">
                                                            <div class="col-4">
                                                                <label for="fromDate"> <strong>From:</strong> </label>
                                                            </div>
                                                            <div class="col-6">
                                                                <input id="date" name="fromDate" type="date" class=" form-date form-control " required>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="col-5">
                                                    <div class="container justify-content-center m-0">
                                                        <div class="row d-flex align-items-center">

                                                            <div class="col-4">
                                                                <label for="endDate"><strong>To:</strong> </label>
                                                            </div>
                                                            <div class="col-6">
                                                                <input id="date" name="endDate" type="date" class="form-date form-control " required>
                                                            </div>

                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="col-2 pr-3">
                                                    <!-- <input id="type_res" name="type" type="hidden" value=""> -->
                                                    <input name="name" type="hidden" value="">
                                                    <input type="submit" class="pastel-purple text-white btm border border-white border-2 rounded rounded-pill px-5 py-2 align-self-end" value="Apply Filter">
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>


                            </div>
                            <!-- Filter tab ends here  -->

                        </div>
                        <!-- the purple filter tab end here -->
                    </div>
                    <div class="row">
                        <!-- word list generator col -->
                        <div class="col-5 px-2">
                            <div class="container bg-white rounded justify-content-center shadow-sm mt-2  py-2">
                                <div class="row d-flex justify-content-center text-center">
                                    <h4 class="text-pastel-purple">Words</h4>
                                </div>

                                <div class="row overflowTxtGen">
                                    <!-- the word generator code from backend starts here -->
                                    <a href="/a" style="text-decoration:none;">
                                        <h5 class="text-center text-secondary col-12 my-3" style="cursor: pointer;">
                                            Sample word
                                        </h5>
                                    </a>
                                    <!-- the word generator code from backend ends here -->

                                </div>

                            </div>
                        </div>
                        <!-- word list generator col -->
                        <!-- the graph generator starts here -->
                        <div class="col-7 px-2">
                            <div class="container-fluid  bg-white rounded justify-content-center align-items-center shadow-sm mt-2 px-5 chartHolderHeight">
                                <div class="row d-flex justify-content-center pt-5">
                                    <div class="col-5 ">
                                        <div class="container ">
                                            <div class="row">
                                                <div class="col-12">
                                                    <h4 class="text-pastel-purple">
                                                        <!-- this word is the one selected by user -->
                                                        Selected Word
                                                        <!-- end of selected word -->
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <p><strong>Student name: </strong> </p>
                                                </div>
                                                <div class="col-12">
                                                    <p><strong>Worksheet name: </strong> </p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-7">


                                        <div id="chart" style="height: 250px; width: 250px;padding: 2px;">
                                            <canvas id="myChart" height="100px" width="100px"></canvas>

                                        </div>

                                    </div>
                                </div>


                            </div>
                            <!-- the three columns that show numbers for attempted,correct,wrong starts here -->
                            <div class="container bg-white shadow-sm rounded mt-2 mx-0">
                                <div class="row py-4">
                                    <div class="col-12 ">
                                        <div class="container" style="margin-left:0px ;">
                                            <div class="row">
                                                <!-- number of times attempted Starts-->
                                                <div class="col-4">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <strong> Number of times word attempted</strong>
                                                            </div>
                                                            <div class="col-12 text-center py-3">
                                                                <h1> 15</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- number of times attempted  Ends-->
                                                <!-- number of times attempted correct Starts-->
                                                <div class="col-4">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <strong>Number of times correct</strong>
                                                            </div>
                                                            <div class="col-12 text-center py-3" style="color:rgb(181, 103, 226);">
                                                                <h1>10</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- number of times attempted correct Ends-->
                                                <!-- number of times attempted incorrect Starts-->
                                                <div class="col-4">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <strong>Number of times incorrect</strong>
                                                            </div>
                                                            <div class="col-12 text-center py-3" style="color: #F25270;">
                                                                <h1>5</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- number of times attempted incorrect Ends-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- the three columns that show numbers for attempted,correct,wrong ends here -->
                        </div>
                        <!-- the graph generator ends here -->
                    </div>
                </div>

                <br>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        // select option dynamic display

        // document.getElementById('type').value = '';

        // document.getElementById('date').value = '';
        // if (!'') {
        //     var target = document.getElementById("chart");
        //     target.innerHTML += "<p>There's nothing to show here... Try submitting the worksheets:)</p>";
        // }
        let correct = '';
        let incorrect = '';
        let mychart = document.getElementById('myChart').getContext('2d');
        let linechart = new Chart(mychart, {
            type: 'doughnut',
            data: {
                labels: [
                    'Correct',
                    'Incorrect',
                ],
                datasets: [{
                    label: 'My First Dataset',
                    data: [40, 30],
                    backgroundColor: [
                        'rgb(181, 103, 226)',
                        'lightgrey',
                    ],
                    hoverOffset: 4
                }]
            }
        })
    </script>

    <script src="https://kit.fontawesome.com/ffcb45aa63.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

</html>