.homepage {
     background-image: url(../img/headerImage.jpg);
     background-size:100%;
     height: 80vh;
}
.headerText{
     font-family: 'Roboto Slab', sans-serif;
     font-size: 4rem;
}
.illuA{
     background-image:url(../img/playingcube.jpg) ;
     
}